* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

input,
button {
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.maxWidth {
  max-width: 1100px;
  margin: 0 auto;
}

.btn {
  background-color: gold;
  color: rbg(63, 10, 199);
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination {
  margin-block: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pagination button {
  min-width: 100px;
}

.loading-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}